<div class="menu">
  <div class="title">
    <h2>PAGES</h2>
    <h2>{{page}}</h2>
  </div>
  <div class="list">
    <ul>
      <li routerLink="/post-list" routerLinkActive="active"><a>POST LIST</a></li>
      <li routerLink="/live-list" routerLinkActive="active"><a>LIVE LIST</a></li>
      <li routerLink="/autoreply" routerLinkActive="active"><a>AUTO REPLY</a></li>
      <li routerLink="/vip" routerLinkActive="active"><a>VIP</a></li>
      <li routerLink="/hero" routerLinkActive="active"><a>BACK</a></li>
    </ul>
  </div>
</div>
