<div class="app">
  <app-menu></app-menu>
  <div class="content live-list">
    <div class="title live-title">
      <h2>LIVE : SELL SOME STUFF</h2>
    </div>
    <div class="tab">
      <div class="tab-item" [ngClass]="{'active': tab==='live'}" (click)="changeTab('live')">LIVE</div>
      <div class="tab-item" [ngClass]="{'active': tab==='config'}" (click)="changeTab('config')">CONFIG</div>
    </div>
    <div *ngIf="tab==='live'" [hidden]="tab!=='live'" class="tab-content">
      <div class="live">
        <iframe [src]="iframeSrc" [width]="iframeWidth" [height]="iframeHeight" frameborder="0"></iframe>
        <img *ngIf="!iframeSrc" src="../../../assets/Pooh.jpg" alt="">
      </div>
      <div class="communication">
        <div class="refresh" (click)="getComments()">
          <div class="button button-refresh"><i class="fas fa-redo-alt"></i>
            REFRESH
          </div>
        </div>
        <div class="comments">
          <div class="comment" *ngFor="let comment of filterComments">
            <h4>
              <ng-container *ngIf="comment.from; else elseTemplate">
                {{comment.from.name}}：
              </ng-container>
              <ng-template #elseTemplate>
                路人：
              </ng-template>
              {{comment.message}}
            </h4>
            <ng-container *ngIf="comment.replied; else elseTemplate">
              <div class="reply replied">
                <i class="fas fa-check-circle"></i>
              </div>
          </ng-container>
          <ng-template #elseTemplate>
            <div class="reply" (click)="reply(comment)">
              <i class="fas fa-comment-dots"></i>
            </div>
          </ng-template>
        </div>
      </div>
    </div>

  </div>
  <div *ngIf="tab === 'config'" class="tab-content config">
    <div class="list-config">
      <div class="config">
        <h4>FILTER：</h4>
        <input type="text" [(ngModel)]="commentFilterEdit">
      </div>
      <div class="config">
        <h4>REPLY POSTS : </h4>
        <input type="text" [(ngModel)]="replyPostEdit">
      </div>
      <div class="config">
        <h4>REPLY MESSAGE :</h4>
        <input type="text" [(ngModel)]="replyMessageEdit">
      </div>
    </div>
    <div class="list-config-buttons">
      <div class="button" (click)="saveConfig()">SAVE</div>
      <div class="button" (click)="cancelConfig()">CANCEL</div>
    </div>
  </div>
</div>
<app-info></app-info>
</div>
