.content .vip{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.content .live{
  flex: 1;
  background: #FF6363;
  padding: .5rem;
  margin: .5rem 0 0 0;
  border-radius: .25rem;
}
.content .live img{
  width: 100%;
  height: 100%;
}
.content .setting{
  flex: 1;
  padding: .25rem .5rem;
}
.content .setting .feature{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: row;
}

.content .setting .button{
  font-size: .35rem;
  padding: .1rem .5rem;
  margin: .25rem .5rem;
}
.content .setting .button:hover{
  transform: none;
}
