<div class="app">
  <app-menu></app-menu>
  <div class="content">
    <div class="title">
      <h2>VIP</h2>
    </div>
    <div class="vip">
      <div class="live">
        <img src="../../../assets/Pooh.jpg" alt="">
      </div>
      <div class="setting">
        <div class="feature">
          <div class="status">
            <h2>OFF</h2>
          </div>
          <div class="button">GO LIVE</div>
        </div>
        <div class="feature">
          <div class="status">
            <h2>OFF</h2>
          </div>
          <div class="button">SET PRODUCT</div>
        </div>
        <div class="feature">
          <div class="status">
            <h2>OFF</h2>
          </div>
          <div class="button">COUNTDOWN</div>
        </div>
        <div class="feature">
          <div class="status">
            <h2>OFF</h2>
          </div>
          <div class="button">BREAKTIME</div>
        </div>
      </div>
    </div>
  </div>
  <app-info></app-info>
</div>
