<div class="app">
  <app-menu></app-menu>
  <div class="content">
    <div class="title">
      <h2>VIP</h2>
    </div>
    <div class="vip">
      <div class="live">
        <ng-container *ngIf="isLive; else elseTemplate">
          <canvas id="liveCanvas" [width]="canvasWidth" [height]="canvasHeight"></canvas>
          <video id="liveVideo" (loadedmetadata)="videoInit($event)" (play)="videoPlay($event)" [autoplay]="isLive"
            [muted]="isLive" [srcObject]="srcObject"></video>
        </ng-container>
        <ng-template #elseTemplate>
          <img src="../../../assets/Pooh.jpg" alt="">
        </ng-template>
      </div>
      <div class="setting">
        <div class="feature">
          <div class="status">
            <h2>{{isTest ? 'ON' : 'OFF'}}</h2>
          </div>
          <div class="feature-button">
            <div class="button" (click)="isTest = !isTest; onClicktest()">GO TEST</div>
          </div>
        </div>
        <div class="feature">
          <div class="status">
            <h2>{{isCamera ? 'ON' : 'OFF'}}</h2>
          </div>
          <div class="feature-button">
            <div class="button" (click)="isCamera = !isCamera;">GO CAMERA</div>
          </div>
        </div>
        <div class="feature">
          <div class="status">
            <h2>{{isLive ? 'ON' : 'OFF'}}</h2>
          </div>
          <div class="feature-button">
            <div class="button" (click)="videoToggle()">GO LIVE</div>
          </div>
        </div>
        <div class="feature">
          <div class="status">
            <h2>{{isProduct ? 'ON' : 'OFF'}}</h2>
          </div>
          <div class="feature-button">
            <div class="button" (click)="isProduct = !isProduct">SET PRODUCT</div>
          </div>
        </div>
        <div class="feature">
          <div class="status">
            <h2>{{isCountdown ? 'ON' : 'OFF'}}</h2>
          </div>
          <div class="feature-button">
            <div class="button" (click)="isCountdown = !isCountdown">COUNTDOWN</div>
          </div>
        </div>
        <div class="feature">
          <div class="status">
            <h2>{{isBreakdown ? 'ON' : 'OFF'}}</h2>
          </div>
          <div class="feature-button">
            <div class="button" (click)="isBreakdown = !isBreakdown">BREAKTIME</div>
          </div>
        </div>
        <div class="feature">
          <div class="status">
            <h2>{{isEffect ? 'ON' : 'OFF'}}</h2>
          </div>
          <div class="feature-button">
            <div class="button" (click)="isEffect = !isEffect">EFFECT</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-info></app-info>
</div>
